FLANNEL_ETCD_ENDPOINTS="{{flannel_etcd_endpoints}}"
FLANNEL_ETCD_CAFILE="{{flannel_pki_ca_cert_dest}}"
FLANNEL_ETCD_CERTFILE="{{flannel_pki_cert_dest}}"
FLANNEL_ETCD_KEYFILE="{{flannel_pki_key_dest}}"
FLANNEL_ETCD_PREFIX="{{flannel_etcd_prefix}}"
FLANNEL_IFACE="{{flannel_iface}}"
FLANNEL_PUBLIC_IP="{{flannel_public_ipv4}}"
