[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
{% if flannel_set_etcd_cidr_value is defined and flannel_set_etcd_cidr_command is defined %}
ExecStartPre={{flannel_set_etcd_cidr_command}} {{flannel_set_etcd_cidr_value}}
{% endif %}
EnvironmentFile=/etc/flannel/options.env
ExecStart=/usr/local/bin/flanneld \
          -etcd-endpoints $FLANNEL_ETCD_ENDPOINTS \
          -etcd-cafile $FLANNEL_ETCD_CAFILE \
          -etcd-certfile $FLANNEL_ETCD_CERTFILE \
          -etcd-keyfile $FLANNEL_ETCD_KEYFILE \
          -etcd-prefix $FLANNEL_ETCD_PREFIX \
          -iface $FLANNEL_IFACE \
          -public-ip $FLANNEL_PUBLIC_IP
          
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
