[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service
After=etcd.service

[Service]
Type=notify
EnvironmentFile={{flannel_conf_dir}}/options.env

{% if flannel_cidr is defined %}
ExecStartPre=-/usr/local/bin/flanneld-init-etcd.sh
{% endif %}
ExecStart=/usr/local/bin/flanneld \
          -etcd-endpoints $FLANNEL_ETCD_ENDPOINTS \
          -etcd-prefix $FLANNEL_ETCD_PREFIX \
          -iface $FLANNEL_IFACE \
	  $FLANNEL_ETCD_TLS_ARGS
          
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
