[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
EnvironmentFile={{flannel_conf_dir}}/options.env
{% if flannel_cidr is defined %}
ExecStartPre={{flannel_etcdctl}} set $FLANNEL_ETCD_PREFIX/config $FLANNEL_CIDR
{% endif %}
ExecStart=/usr/bin/flanneld \
          -etcd-endpoints $FLANNEL_ETCD_ENDPOINTS \
          -etcd-cafile $FLANNEL_ETCD_CAFILE \
          -etcd-certfile $FLANNEL_ETCD_CERTFILE \
          -etcd-keyfile $FLANNEL_ETCD_KEYFILE \
          -etcd-prefix $FLANNEL_ETCD_PREFIX \
          -iface $FLANNEL_IFACE \
          -public-ip $FLANNEL_PUBLIC_IP
          
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
